.box{
    margin: auto;
    width: 1280px;
    height: 900px;
    background-image: url("../image/bg2.jpg");
}

.start{
    width: 1175px;
    padding-top: 60px;
    padding-left: 25px;
    font-size: 55px;
    color: white;
    padding-right: 100px;
}

table{
    width: 1192px;
    height: 632px;
    margin-left: 25px;
    margin-top: 75px;
    text-align: center;
}

.spanner{
    padding-left: 30px;
}